<div class="site-mobile-menu " [class.show]="this.showMenu.menu">
    <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close  js-menu-toggle">
            <i class="fa fa-times" (click)="menuOff($event)"></i> </div>
    </div>
    <div class="site-mobile-menu-body">
        <ul class="site-nav-wrap">
            <li class="has-children">
                <a href="#">Home</a>

            </li>

            <li class="has-children">
                <a href="#">My Work</a>
            </li>
            <li class="has-children">
                <a href="#">About Me</a>

            </li>
            <li class="has-children">
                <a href="#">Resume</a>
            </li>

        </ul>
    </div>
</div>